<mat-sidenav-container fullscreen>
  
        
    <h1>404</h1>
    <h1>Página no encontrada</h1>  



    <mat-nav-list>
 
        <a routerLink="/auth/login"
            mat-list-item>
            <mat-icon mat-list-icon>login</mat-icon>
            <span>Iniciar sesión</span>
        </a>

        <!-- <a routerLink="/auth/registro"
            mat-list-item>
            <mat-icon mat-list-icon>manage_accounts</mat-icon>
            <span>Registrarse</span>
        </a> -->

        <a routerLink="/heroes/listado"
            mat-list-item>
            <mat-icon mat-list-icon>list</mat-icon>
            <span>Ir al listado de héroes</span>
        </a>

        <a routerLink="/heroes/agregar"
            mat-list-item>
            <mat-icon mat-list-icon>note_add</mat-icon>
            <span>Agregar héroe</span>
        </a>

        <a routerLink="/heroes/buscar"
            mat-list-item>
            <mat-icon mat-list-icon>search</mat-icon>
            <span>Buscar Héroe</span>
        </a>
      
    </mat-nav-list>

        

</mat-sidenav-container>


